<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFE194;">
      <div class="container-fluid">
        <!-- <a routerLink="Login"><img src="./assets/image/as.jpg." alt="" width="50" height="51"></a> -->
        <a class="navbar-brand hotel" routerLink="home"><i class="fas fa-home"></i><strong> MENARBEIT </strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
            <div class="inicio">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="margin-right: 30px;" href="#" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <strong> Inicio de sesión </strong>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="login">Login</a></li>
                  <li><a class="dropdown-item" routerLink="/tipoCuenta">Registrarse</a></li>
                  <div >
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" routerLink="/perfil" ><i
                        class="fas fa-user-circle" ></i> Perfil</a></li>
                    <li><a
                        class="dropdown-item" ><i class="fas fa-futbol">
                        </i> Solicitudes o trabajos</a></li>
                  </div>
  
                  <div >
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item"  ><i class="fas fa-lock"></i>
                        Cerrar Sesión</a></li>
                  </div>
  
                </ul>
              </li>
            </div>
            <div  class="itemNav">
              <a routerLink="leagues" class="nav-link usuario">
                <i class="fas fa-table"></i><strong> Trajos y solicitudes </strong></a>
            </div>
            <div  class="itemNav">
              <a routerLink="/listaUsuarios" class="nav-link usuario">
                <i class="fas fa-users"></i><strong> Administracion </strong></a>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
  
