<form>
    <div class="logo-image">
      <img src="../../../assets/img/user.png" alt="Logo" title="Logo" width="115">  </div>
    <br>
    <h1 class="title">BIENVENIDO</h1>
    <p class="subtitle">Inicio de sesion</p>
    
      <!-- <input type="text" id="usuario" name="usuario" #usuario="ngModel" [(ngModel)]="userModel.usuario"> -->
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1" name="user" #user="ngModel" [(ngModel)]="usuarioModel.user">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">✺</span>
        <input type="password" class="form-control" placeholder="Contraseña" aria-label="Username" name="password" #password="ngModel" [(ngModel)]="usuarioModel.password">
      </div>
    <br>
    <button type="button" routerLink="/home" class="button buttonBlue" (click)="login()">Ingresar
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <p>
      Aún no tienes cuenta?<a  routerLink="/tipoCuenta" routerLinkActive="active"> Crea una</a>
    </p>
  </form>
  