* { box-sizing:border-box; }

form{
    display: flex;
    justify-items: center;
}

body {
	font-family: Helvetica;
	background: #eee;
  -webkit-font-smoothing: antialiased;
}

.title {
  font-size: 28px;
  font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-weight: 100;
  line-height: 1.2;
  color: #757575;
  text-transform: inherit;
  letter-spacing: inherit;
}

.subtitle {
  font-size: 18px;
  font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-weight: 100;
  line-height: 1.2;
  color: #505050;
  text-transform: inherit;
  letter-spacing: inherit;
}

.description {
  font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1;
  color: #212121;
  text-transform: inherit;
  letter-spacing: inherit;
}

hgroup {
	text-align:center;
	margin-top: 4em;
}

h1, h3 { font-weight: 300; }

h1 {
    margin-top: 130px;
    color: #636363; }

h3 { color: #4a89dc; }

.izquierda{
    margin-left: 160px;
    margin-right: 20px;
}
.derecha{
    margin-right: 160px;
    margin-left: 20px;
}
.izquierda,.derecha {
    margin-top: 20px;
	width: 60%;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  text-align: justify;
}

.group {
	position: relative;
	margin-bottom: 45px;
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #F7F3E9;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus { outline: none; }

label {
	color: rgb(78, 78, 78);
	font-size: 18px;
	font-weight: normal;
	position: absolute;
}

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 3px solid #c7b17f;
  cursor: pointer;
  transition: all 0.15s ease;
  border-radius: 5rem;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #FFE194;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.644);
}

.buttonBlue:hover { background: #b19246; }


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

.logo-image, h1, p {
  text-align: center;
}
