
<h1 class="title">¿Que tipo de cuenta quieres crear?</h1>
<form >
<div class="izquierda">
    <div class="logo-image">
      <img src="../../../assets/img/2534204.png" alt="Logo" title="Logo" width="115">  </div>
    <br>
    <p class="subtitle">Usuario</p>
    <div class="group">
      <label>Puedes hacer solicitudes de servicion dependiendo de tus necesidades</label>
    </div>
    <br>
    <button type="button" class="button buttonBlue" routerLink="/registroUsuario" >Crear Cuenta
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</div >
  <div class="derecha">
    <div class="logo-image">
      <img src="../../../assets/img/trabajador.png" alt="Logo" title="Logo" width="115">  </div>
    <br>
    <p class="subtitle">Socio Trabajador</p>
    <div class="group">
      <label>Puedes ofrecer tu servicios segun tus habilidades</label>
    </div>
    <br>
    <button type="button" class="button buttonBlue" routerLink="/registroTrabajador">Crear Cuenta
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</div>
</form>

